:root {
  --grey: #F2F1F4;
  --white: #ffffff;
  --black: #000000;
  --uutinen: #252525;
} 

* {
  color: var(--fontColor);
  }

body {
    background: var(--bg); 
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    position: fixed;
    top: 0; 
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif; 
  }
  
  .active {
    background-color: #2b7be4;
    font-weight: bold;
  }

  li a:hover {
    background-color: #111;
  }

a {
    color: black;
} 

.uutinen:hover {
    box-shadow: 0 0 11px rgb(33,33,33,.2);
}

.uutinen {
    width: 614px; 
    padding: 5px;
    background-color: var(--uutinenbg);
    margin: 5px;
    float: left; 
}

img { 
    width: 100%; 
} 

.btn {
  background-color: #1106b1;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.light-theme {
  --bg: var(--grey);
  --fontColor: var(--black);
}

.dark-theme {
  --bg: var(--black);
  --uutinenbg: var(--uutinen);
  --fontColor: var(--white); 
}

h2, p {
    font-family: 'Montserrat', sans-serif; 
    padding-left: 10px;
    padding-right: 10px;
} 

@media only screen and (min-wight: 961px) {
    .uutinen {
        width: 40%;
    }
}